@import '../../GlobalVariables';
/// Currency converter component.
.currency-converter-widget {
    .slds-input {
        &[readonly] {
            padding-left: $spacing-small;
            background-color: $color-background-input;
            border: $border-width-thin solid $color-border-input;
            font-size: inherit;
            font-weight: inherit;
        }
        &[type=number] {
            -moz-appearance: textfield;
        }
        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
